<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Mohon Kerja Lebih Masa</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-cogs text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-6 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="m-0">Borang Permohonan</h4>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success btn-sm">Mohon</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Jenis Permohonan</label>
                        <select class="form-control form-control-sm">
                            <option selected hidden>Sila pilih jenis permohonan</option>
                            <option>Individu</option>
                            <option>Berkumpulan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Nama pemohon</label>
                        <input class="form-control form-control-sm" placeholder="Isikan nama pemohon">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">ID pekerja pemohon</label>
                        <input class="form-control form-control-sm" placeholder="Isikan ID pekerja pemohon">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Jabatan</label>
                        <select class="form-control form-control-sm">
                            <option selected hidden>Sila pilih jabatan pemohon</option>
                            <option>Kejuruteraan</option>
                            <option>Pembangunan Bandar</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Mula Kerja Lebih Masa</label>
                                <input class="form-control form-control-sm" placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Mula Kerja Lebih Masa </label>
                                <input class="form-control form-control-sm" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Mula Kerja Lebih Masa</label>
                                <input class="form-control form-control-sm" type="date">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Tamat Kerja Lebih Masa </label>
                                <input class="form-control form-control-sm" type="date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Waktu Mula Kerja Lebih Masa</label>
                                <input class="form-control form-control-sm" type="time">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Waktu Tamat Kerja Lebih Masa </label>
                                <input class="form-control form-control-sm" type="time">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>