<div class="header pb-6">
    <div class=" container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Bantuan</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-life-ring text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Manual Pengguna</h4>
                </div>
                <div class="card-body">
                    <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                        <accordion-group>
                            <h5 class="mb-0" accordion-heading>Cara membuat permohonan</h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </accordion-group>
                        <accordion-group>
                            <h5 class="mb-0" accordion-heading>Cara meluluskan permohonan</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </accordion-group>
                        <accordion-group>
                            <h5 class="mb-0" accordion-heading>Cara undo permohonan yang telah diluluskan</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="m-0">Versi Sistem</h4>
                        </div>
                        <div class="card-body">
                            <p><span class="badge badge-pill badge-success">Terbaru</span> Versi 2.2.2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="m-0">Aduan Sistem</h4>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-success btn-sm">Hantar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label">Aduan</label>
                                <textarea class="form-control form-control-sm"
                                    placeholder="Isikan aduan anda"></textarea>
                            </div>
                            <span class="m-0 " style="font-size: 0.8rem">*Aduan akan dihantar kepada
                                sekysen_aplikasi@mbpj.gov.my</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>