<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Permohonan Kerja Lebih Masa</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-th-list text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Senarai Permohonan</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Jabatan</th>
                                <th scope="col">Waktu Mula</th>
                                <th scope="col">Waktu Tamat</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Nazmi Karim</th>
                                <td>Kejuruteraan</td>
                                <td> 7.00 malam 22/03/2020 </td>
                                <td> 9.00 malam 22/03/2020 </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Terima</button>
                                    <button class="btn btn-warning btn-sm">Tolak</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Hisham Kamil</th>
                                <td>Kejuruteraan</td>
                                <td> 7.00 malam 22/03/2020 </td>
                                <td> 9.00 malam 22/03/2020 </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Terima</button>
                                    <button class="btn btn-warning btn-sm">Tolak</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Aina Hakimi</th>
                                <td>Perancangan Bandar</td>
                                <td> 7.00 malam 22/03/2020 </td>
                                <td> 9.00 malam 22/03/2020 </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Terima</button>
                                    <button class="btn btn-warning btn-sm">Tolak</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Alif Nazri</th>
                                <td>Kejuruteraan</td>
                                <td> 7.00 malam 22/03/2020 </td>
                                <td> 9.00 malam 22/03/2020 </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Terima</button>
                                    <button class="btn btn-warning btn-sm">Tolak</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Adib Abdullah</th>
                                <td>Perancangan Bandar</td>
                                <td> 7.00 malam 22/03/2020 </td>
                                <td> 9.00 malam 22/03/2020 </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Terima</button>
                                    <button class="btn btn-warning btn-sm">Tolak</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>