<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Elaun Kerja Lebih Masa</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-file-invoice-dollar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Senarai Lulus</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Jabatan</th>
                                <th scope="col">Jumlah Jam</th>
                                <th scope="col">Jenis</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Nazmi Karim</th>
                                <td>Kejuruteraan</td>
                                <td> 2 jam</td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-warning">Melebihi 1/3 gaji</span>
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-succes">Lulus</span>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm">Undo</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Nazirah Aina</th>
                                <td>Perancangan Bandar</td>
                                <td> 2 jam</td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-warning">Melebihi sebulan gaji</span>
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-succes">Lulus</span>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm">Undo</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Khairul Azwa</th>
                                <td>Kejuruteraan</td>
                                <td> 2 jam</td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-warning">Melebihi 1/3 gaji</span>
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-succes">Lulus</span>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm">Undo</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Umar Farok</th>
                                <td>Perancangan Bandar</td>
                                <td> 2 jam</td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-warning">Melebihi sebulan gaji</span>
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-succes">Lulus</span>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm">Undo</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Zahrul Ikwan</th>
                                <td>Kejuruteraan</td>
                                <td> 2 jam</td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-warning">Melebihi 1/3 gaji</span>
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-md badge-succes">Lulus</span>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm">Undo</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>